/* style.css */

/* Styles for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #7d75a9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
  }
  

 
  
  
  